ENCLAVE_URL=https://localhost:8443
ENCLAVE_TLS_VERIFY=false
DATABASE_URL=sqlite:///./sm-metadata.db
DATABASE_CIPHER_KEY=00000000000000000000000000000000
API_HOST=0.0.0.0
API_PORT=8080
LOG_LEVEL=INFO
JWT_SECRET=supersecretjwtkey
ADMIN_TOKEN=bootstrap-admin-token
